<div>
  <div>
    <h1>Welcome to {{ title }}</h1>
    <a routerLink="/">To Garage</a><br />
    <a routerLink="/page-winners">To Winners</a>
  </div>
  <main class="main">
    <div>
      <button>Race</button>
      <button>Reset</button>
    </div>
    <app-input-create></app-input-create>
    <app-input-update></app-input-update>
    <div>
      <button>Generate Cars</button>
    </div>
  </main>
  <section class="section-content">
    <div *ngIf="cars.length > 0; else noCars">
      <ul>
        <li class="cars-list" *ngFor="let car of cars">
          <div>
            <p>Car ID: {{ car.id }}</p>
            <p>Car Brand: {{ car.name }}</p>
            <p>Car Color: {{ car.color }}</p>
          </div>
        </li>
      </ul>
    </div>
    <ng-template #noCars> <p>Машины не найдены.</p> </ng-template>
  </section>
</div>
