<div>
  <div>
    <h1>Welcome to {{ title }}</h1>
    <a routerLink="/">To Garage</a><br />
    <a routerLink="/page-winners">To Winners</a>
  </div>
  <main class="main">
    <div>
      <button>Race</button>
      <button>Reset</button>
    </div>
    <app-input-create></app-input-create>
    <app-input-update></app-input-update>
    <div>
    <app-input-hundred></app-input-hundred>
    </div>
  </main>
  <section class="section-content">
    <div *ngIf="cars.length > 0; else noCars">
      <ul>
        <li class="cars-list" *ngFor="let car of paginatedCars">
          <button (click)="deleteCar(car.id)">Remove</button>
          <div>
            <p>Car ID: {{ car.id }}</p>
            <p>Car Brand: {{ car.name }}</p>
            <p>Car Color: {{ car.color }}</p>
          </div>
        </li>
      </ul>
      <div class="pagination-controls">
        <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">Previous</button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">Next</button>
      </div>
    </div>
    <ng-template #noCars> <p>Cars didn't find.</p> </ng-template>
  </section>
</div>
