<nav>
  <a routerLink="/page-garage">Page Garage</a>
  <a routerLink="/page-winners">Page Winners</a>
</nav>
<router-outlet></router-outlet>

<!-- <div class="page-container">
  <app-header />
  <main class="main-content">
    <p>Congratulations! Your app is running. 🎉</p>
    <div *ngIf="cars.length > 0; else noCars">
      <ul>
        <li *ngFor="let car of cars">{{ car.id }} - {{ car.name }}</li>
      </ul>
    </div>
    <ng-template #noCars>
      <p>Машины не найдены.</p>
    </ng-template>
    <router-outlet></router-outlet>
  </main>
  <app-footer />
</div> -->
