@import '../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Nanum+Gothic&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Play:wght@400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-image: url('/bg.jpg');
}

body {
  font-family: 'Play', sans-serif;
  color: azure;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: azure;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 6px;
  color: rgb(255, 255, 255);
  background-color: rgb(219, 24, 216);
  cursor: pointer;
  border: none;
  padding: 4px 8px;
}

button:hover {
  background-color: brown;
}

a {
  border-radius: 6px;
  font-weight: 700;
  padding: 6px 10px;
  border: 1px solid rgb(27, 177, 214);
  background-color: aquamarine;
  color: #55137d;
  text-decoration: none;
}

a:hover {
  background-color: aqua;
  color: blueviolet;
  border: 1px solid blueviolet;
}

.routs {
  display: flex;
  gap: 5px;
}

#text-input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

#text-input:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  outline: none;
}

#color-input {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  overflow: hidden;
}

button.negative:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
}
